# Godot 4+ specific ignores
.godot/
android/
bin/
.sconsign.dblite
src/gdexample.os
src/register_types.os
functions.xml
units.xml
variables.xml
extension_api.json
currencies.xml
src/gdexample.android.template_debug.arm64.o
src/gdexample.linux.template_debug.x86_64.o
src/libs/*
src/register_types.android.template_debug.arm64.o
src/register_types.linux.template_debug.x86_64.o
libs-build/outputs
eurofxref-daily.xml
**/*.uid
